docker-compose.zip
docker-image
docker-image.zip
embeddings
get_helm.sh
L4_pytanka_zrodla.txt
l4-tp-e-dzia.zip
Lab_3
lab4_2.txt
lab4.txt
lab5.txt
lab5_utils.txt
redis.conf
redis-full.conf
tmp
tmp.zip
zad5.md

